<%- include ('../partials/headerAdm') %>
<main class="container main-container">
    <form class="busqueda__form">
        <button type="submit" class="busqueda__button">
            <img src="../../img/icons/search_icon.svg" alt="Icono de búsqueda">
        </button>
        <input type="text" name="busqueda"  class="busqueda__input" placeholder="código, nombre o categoria">
    </form>
    <section class="listado-container">
        <article class="listado__header">
            <h1 class="listado__title">LISTADO DE PRODUCTOS</h1>
            <div class="listado__functions">
                <h3 class="functions__title">AGREGAR</h3>
                <a href="../admin/create" class="functions__button">+</a>
            </div>
        </article>

        <ul class="listado__items"> 
           <li class="listado__item">
                <p class="listado__titles">ID</p>
                <p class="listado__titles">Código</p>
                <p class="listado__titles">Nombre del Producto</p>
                <p class="listado__titles">Categoria</p>
           </li>
           <% items.forEach (item => { %>
           <li class="listado__item">
                <p class="listado-item__text"><%= item.product_id %></p>
                <p class="listado-item__text"><%= item.sku %></p>
                <p class="listado-item__text"><%= item.product_name %></p>
                <p class="listado-item__text"><%= item.licence_name %></p>
                <a href="../admin/edit/<%= item.product_id %>">
                    <img src="../../img/icons/edit_pencil.svg" alt="Editar producto">
                </a>
                <a href="../admin/delete/<%= item.product_id %>">
                    <img src="../../img/icons/delete_trash.svg" alt="Borrar producto">
                </a>
           </li>
           <% }); %>
        </ul>

    </section>

</main>
<%- include ('../partials/footerAdm') %>